#top-nav-main {
  background-color: white;
  position: fixed;
  width: 100vw;
  height: 64px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px 96px;
}

.top-nav-default {
  opacity: 0;
  margin-top: -5px;
}

.show-top-nav {
  opacity: 1;
  margin-top: 0;
}

#top-nav-logo {
  height: 100%;
  cursor: pointer;
}
