.video-band-container {
  position: relative;
  cursor: pointer;
}

.video-band {
  filter: brightness(0.3);
  transition: filter 0.2s ease-in-out;
  margin-bottom: -6px;
  width: calc(100% + 1px);
}

.video-band:hover {
  filter: brightness(1);
}

.video-band-container h2 {
  position: absolute;
  top: calc(50% - 16px);
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-shadow: 0 0 10px black;
}
