@font-face {
  font-family: 'Dolce Vita';
  src: url('../assets/fonts/Dolce Vita.ttf');
}

@font-face {
  font-family: 'Dolce Vita Heavy';
  src: url('../assets/fonts/Dolce Vita Heavy Bold.ttf');
}

@font-face {
  font-family: 'Etna';
  src: url('../assets/fonts/etna.otf');
}

body {
  font-family: 'Dolce Vita', sans-serif;
  font-size: 1.1rem;
}

strong {
  font-family: 'Dolce Vita Heavy', sans-serif;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Dolce Vita Heavy', sans-serif;
}
