#homepage-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100vh;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#homepage-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 80vw;
  width: 40rem;
  transform: translate(-50%, -50%);
}

.homepage-logo-default {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.homepage-logo-hide {
  opacity: 0;
}

#scroll-cta-container {
  position: absolute;
  top: 90%;
  left: 50%;
}

#homepage-content {
  position: absolute;
  top: calc(100vh + 50px);
  max-width: 80vw;
  width: 40rem;
}
